/* line 1, ../sass/style.scss */
body {
  font-family: arial;
}

/* line 7, ../sass/style.scss */
button {
  /*general button style*/
  display: inline-block;
  padding: 6px 12px;
  font-size: 16px;
  text-align: center;
  border: 1px solid #ccc;
  margin: 0;
  border-radius: 0;
  background: #fff;
  /*style each button independantly*/
}
/* line 19, ../sass/style.scss */
button:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin: 0;
}
/* line 25, ../sass/style.scss */
button:not(:first-child):not(:last-child) {
  margin-left: -6px;
}
/* line 29, ../sass/style.scss */
button:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -6px;
}
