<!doctype html>

<html lang="en" ng-app>
<head>
  <meta charset="utf-8">

  <title>Buttons</title>
  <meta name="description" content="Buttons">
  <meta name="author" content="Buttons">

  <link rel="stylesheet" href="css/style.css">


  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
</head>

<body>
  <script src="js/scripts.js"></script>

<h2>Radio buttons</h2>

<!--this tag means nothing for now. it will be an angular tag-->
<cb-radio-buttons>
	<button>Left</button>
	<button>Center</button>
	<button>Right</button>
</cb-radio-buttons>



 <div>
      <input type="text" ng-model="yourName" placeholder="Enter a name here">
      <h1>Hello, {{ yourName }}!</h1>
    </div>


<script>
  angular.module('radioExample', [])
    .controller('ExampleController', ['$scope', function($scope) {
      $scope.color = 'blue';
      $scope.specialValue = {
        "id": "12345",
        "value": "green"
      };
    }]);
</script>

 <form name="myForm" ng-controller="ExampleController">
  <input type="radio" ng-model="color" value="red">  Red <br/>
  <input type="radio" ng-model="color" ng-value="specialValue"> Green <br/>
  <input type="radio" ng-model="color" value="blue"> Blue <br/>
  <tt>color = {{color | json}}</tt><br/>
 </form>

 <script src="js/main-script.js"></script>
</body>
</html>